.sub-lead-text, .gd-work-text {
	color: #fff;
	font-weight: 300;
	mix-blend-mode: difference;
}

html, section, .container, body {
	background-color: #f5f5f5 !important;
	font-family: 'Krub', sans-serif !important;
}

i {
	color: red;
	width: 2rem;
	height: 2rem;
}

.navbar-light .navbar-nav .nav-link {
	text-decoration: none;
	color: none !important;
	mix-blend-mode: difference !important;
}

.privacy-backdrop {
	background-color: black !important;
	height: 100%;
}

.footer-container {
	width: 100%;
	height: 3.5rem;
}


.footer-privacy-policy {
	font-size: 1rem;
	position: absolute;
	right: 10px;
}

.footer-copyright {
	font-size: 1rem;
	position: absolute;
	left: 10px;
}

/*HOME*/
.dropdown-menu {
    width: 100%;
  }

.nav-item {
	position: relative;
	mix-blend-mode: exclusion;	
}

.nav-item {
	justify-content: center;
}

.landing-image {
	position: relative;
 	background: url(../images/sitebgx.gif);
 	background-size: cover;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	height: 100vh;
}

.landing-text {
	top: 45%;
	left: 50px;
	right: 50px;
	position: absolute;
	font-size: 1.5em;
}


/*Landing Images*/
.graphic-header {
	background-image: url(../images/gd-lead-img.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.web-header {
	background-image: url(../images/wd-lead-img.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.object-header {
	background-image: url(../images/od-lead-img.jpg);
	background-attachment: fixed;
  	background-position: bottom center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.visual-header {
	background-image: url(../images/va-lead-img.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.architecture-header {
	background-image: url(../images/a-lead-img.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

.research-header {
	background-image: url(../images/dr-lead-img.jpg);
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
}

/*Graphic Design Page*/

.jumbo-tron {
	height: 100vh;
}

.sub-lead-text {
	padding-top: 30vh;
	font-size: 3rem;
}

.gd-img {
	width: 100%;
	height: 100%;
}

.gd-img:hover {
	opacity: 0.2;
}

.txt-wrapper {
	color: red;
	font-size: 1.5rem;
	position: relative;
	bottom: 50%;
	display: flex;
	justify-content: center;
}



/*GD- Pages*/
.gd-text {
	font-weight: 300;
	color: #c8c8c8;
	font-size: 3rem;
}

.gd-work-text {
	font-size: 2rem;
}

.gd-desc {
	padding: 1rem;
	font-size: 1rem;
}

/*About*/
.about-image {
	position: relative;
 	background: url(../images/aboutbgx.gif);
 	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	height: 100vh;
}

.about-text {
	color: black;
	font-weight: 100;
	position: relative;
	top: 43%;
	text-align: center;
	font-size: 1rem;
}

.about-lead-text {
	color: black;
	font-weight: 100;
	position: relative;
	top: 40%;
	text-align: center;
	font-size: 3rem;
}

.about-text-desc {
	position: relative;
}

.about-icon {
	text-align: center;
	margin: 5% auto;
	width: 7rem;
	height: 7rem;
}

.about-sub-text {
	font-weight: 300;
}

body[data-aos-duration='3000'] [data-aos] {
    transition-duration: 1000ms;
  }

/*.animate__animated .animate__fadeIn {
  --animate-duration: 2s;
  --animate-delay: 1s;
   animation-duration: 2s
}*/

/*Contact*/
.contact-body {
	min-height: 100vh;
	background-color: #2b2d2f !important;
}

.contact-lead-text {
	font-weight: 200;
	color: white;
}

.contact-sub-text {
	font-weight: 200;
	color: white;
}

.fa-instagram {
	font-size: 30px;
}